{% extends "base.html" %}
{% block title %}Access Denied{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

{% block content %}
    <section class="error-wrapper">
        <div class="error-card">
            <div class="error-code">403</div>
            <div class="error-title">Oops! Access Denied.</div>
            <div class="error-description">
                You don't have permission to access this page.
            </div>

            <div class="error-actions">
                <a href="{{ url_for('main.home') }}" class="btn-primary">Go Home</a>
                <a href="javascript:history.back()" class="btn-secondary">Go Back</a>
            </div>
        </div>
    </section>
{% endblock %}