{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block content %}
    <section class="hero">
        <h1>Welcome to Our Platform</h1>
        <p>Connect with amazing people around the world.</p>
        <button>Get Started</button>
    </section>

    <section class="users">
        <h2>Our Featured Users</h2>

        <div class="user-grid">
            {% for user in users %}
                {% if user.featured %}
                    <div class="user-card">
                        <!-- to change after uploading avatars to server -->
                        {% if user.avatar %}
                            <img src="{{ user.avatar }}" />
                        {% else %}
                            <img src="{{ url_for('static', filename='img/default.png') }}" />
                        {% endif %}
                        <h3>{{ user.user_info.first_name }} {{ user.user_info.last_name }} ({{ user.user_info.age }})</h3>
                        <p>{{ user.user_info.bio }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="cta">
        <h2>Join Our Community Today</h2>
        <a href="{{ url_for('login') }}">Sign Up</a>
    </section>
{% endblock %}